/*
  Suvendu Edits
*/

#gtco-offcanvas ul li {
  padding: 20px;
}

#gtco-offcanvas ul li a {
  font-size: 1.2em;
}
.suvendu-custom-bg {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2CBFC9, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2CBFC9, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gtco-cover .display-t, .gtco-cover .display-tc {
  height: 400px;
}
@media screen and (max-width: 768px) {
  #gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1 {
    margin-bottom: 176px;
}
}
